
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}
.percentual{
    width: 100%;
    height: auto;
    background-color: #212529;
    padding: 10px;
}
.banner{
    width: 100%;
    height: 300px;
    background-image: url('slider/slider-bg-2.jpg');
}
.banner:before{
    content: " ";
    background: rgba(51, 186, 157, 0.50);
    position: absolute;
    width: 100%;
    height: 300px;
}
.center{
    margin: 30px 50px 20px 110px;
    width: 80px;
    height: 80px;
}
.title{
    color: #212529;
    font-size: 30px;
    padding-left: 75px;
    font-family: 'Bigelow Rules', cursive;
    font-weight: bold;
}
.text{
    text-align: center;
    padding-left:20px;
    padding-right:20px;
}
.img{
    width: 500px;
    height: 300px;
    border-radius: 10px;
}
#caixa{
    width: 100%;
    height:300px;
    background-color: aqua;
}
.text2{
    text-align: center;
    padding-left:20px;
    padding-right:20px;
    font-family: 'Chewy', cursive;
    color: white;
}
.text3{
    color: aliceblue;
}
.buy{
    padding-top: 100px;
}
.img3{
    width: 100%;
    border-radius: 10px;
}